# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.TestSubmission.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ps380\Desktop\Camouflaj_Test\TestSubmission\.idea\.idea.TestSubmission.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
